tr{
  &:nth-child(2n){
    background-color: #F8F8FA;
  }
  &:nth-child(2n+1){
    background-color: #FFF;
  }
  th,td {
    text-align: center!important;
  }
  th{
    background-color: #495B69!important;
    color: #F9FFFF!important;
  }
  td{
    color: #000;
  }
}
.operate{
  cursor: pointer;
  &:hover{
    color: #f00;
  }
}
h3{
  margin: 4px;
}
