// .login{
//   opacity: 0.8;
//   position: absolute;
//   top: 50%;
//   left: 0;
//   width: 100%;
//   height: 400px;
//   margin-top: -200px;
//   overflow: hidden;
//   .box{
//     position: absolute;
//     left: 50%;
//     margin-left: -200px;
//     top: 30%;
//     width: 400px;
//     z-index: 2;
//   }
// }
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://y.gtimg.cn/mediastyle/yqq/img/bg_index_new.jpg) no-repeat left top;
  background-size: cover;
}

.body {
  width: 360px;
  margin-top: -150px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .3);
  background-color: #fff;

}

.loginheader {
  color: #fff;
  font-size: 24px;
  padding: 30px 20px;
  background: url(https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3769711215,2367468544&fm=23&gp=0.jpg) no-repeat left center;
  background-size: cover;
}

.form {
  margin-top: 12px;
  padding: 24px;
}

.btn {
  width: 100%;
}
